.container-box{
    border: 3px solid black;
    width: 77%;
    margin: 0 auto;
    text-align: center;;
}
.flex-blackjack-1{
    background-color: darkgreen;
    color: white;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-blackjack-1 div{
    padding: 10px;
    height: 500px;
    width: 600px;
    text-align: center;
    flex: 1;
}
.flex-blackjack-btn{
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.flex-blackjack-table{
    display: flex;
    justify-content: center;
    padding: 10px;
}
table, th, td{
    padding: 8px;
    border: 1px solid black;
}